* {
  box-sizing: border-box;
  font-weight: 100;
}
.visible-xs-block { display: block; }
.visible-xs-inline-block { display: inline-block; }
.hidden-xs { display: none; }
a {
  text-decoration: none;
  color: inherit;
}
.tint {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}
.icon {
  display: inline-block;
  margin: 0 auto;
  width: 2em;
  height: 2em;
}
.icon svg {
  fill: currentColor;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 1;
}
.container {
  padding: 10px;
}

body {
  background-color: #FFF;
  color: #000;
  padding-top: 56px;
}
body > header {
  z-index: 4;
  background-color: #2F9FF1;
  color: #FFF;
  position: fixed;
  width: 100%;
  top: 0;
  min-height: 30px;
}
body > header .logo {
  display: inline-block;
  width: auto;
  height: 100%;
}
body > header .logo .icon {
  width: 5em;
  height: 2em;
}
body > header .menu-toggle {
  float: right;
  display: inline-block;
}
body > header .menu-toggle .icon {
  width: 2.5em;
  height: 2em;
}
body > header > nav {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s;
}
body > header.active {
  box-shadow: 0 0px 20px 5px #666;
}
body > header.active > nav {
  max-height: 160px;
}
body > header > nav > a {
  display: block;
  height: 30px;
  color: #FFF;
  text-decoration: none;
  font-weight: 300;
  font-size: 24px;
  margin: 10px 0;
}
body > header > nav > a:last-of-type {
  margin-bottom: 0;
}
body > header > nav a .fa {
  display: none;
}

.card {
  color: #FFF;
  overflow: hidden;
  position: relative;
  height: 300px;
  height: calc(100vw - 20px);
  margin-bottom: 5px;
}
body.home .card {
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-right: -10px;
  height: 320px;
  height: calc(100vw);
}
.card > .label-top {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 5px 10px;
  width: 100%;
  background-color: rgba(47, 159, 241, 0.8);
}
.card > .label-top .score {
  float: right;
}
.card img, .card .photoframe {
  width: 100%;
}
.card .stats {
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: calc(100% - 28px);
  bottom: 0;
  transition: top 0.25s;
  padding: 5px 10px;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
}
.card:hover .stats, .card:focus .stats {
  top: 25%;
}
.card .stats span {
  display: block;
  margin-bottom: 5px;
}
.card .stats .card-buttons {
  position: absolute;
  width: calc(100% - 20px);
  opacity: 0;
  transition: opacity 0.1s;
  bottom: 5px;
}
.card:hover .stats .card-buttons, .card:focus .stats .card-buttons {
  opacity: 1;
}
.card .stats .card-buttons a {
  display: block;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 3px;
  margin-bottom: 5px;
  background-color: rgba(47, 159, 241, 1);
}

/* ADD MEAL */
body.addmeal .card {
  display: inline-block;
  width: calc(50% - 5px);
  height: 150px;
  height: calc(50vw - 20px);
}
body.addmeal .card > .label-top {
  overflow: hidden;
  font-size: 14px;
  height: 26px;
  transition: all 0.2s;
}
body.addmeal .card:nth-child(odd) {
  margin-right: 5px;
}
body.addmeal .card.eating > .label-top {
  height: 100%;
  background-color: rgba(47, 159, 241, 0.9);
}
body.addmeal .card.eating > .label-top:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: '\1F374';
  color: white;
  font-size: 64px;
  text-align: center;
}
body.addmeal .card.eating.chef > .label-top:before { content: '\1F373'; }
body.addmeal input {
  border: 1px solid #555;
  box-shadow: none;
  width: 100%;
  height: 36px;
  margin: 5px 0;
  padding: 4px 6px;
}
body.addmeal button[type=submit] {
  margin-top: 5px;
  width: 100%;
  padding: 8px 12px;
  border: none;
  background-color: #F53F16;
  color: #FFF;
}
/* MEALS */
body.meals .meal .photoFrame {
  display: inline-block;
  width: calc(20% - 2px);
  margin: 1px;
}
body.meals .meal {
  text-align: right;
  position: relative;
  margin-bottom: 5px;
}
body.meals .meal .tint {
  z-index: 2;
  background-color: rgba(0,0,0,0.4);
}
body.meals .meal .photoFrame img { width: 100%; }
body.meals .meal .names {
  font-size: 20px;
  color: #FFF;
  z-index: 3;
  position: absolute;
  top: 5px;
  left: 5px;
}
body.meals .meal .names span:not(:last-child):before {
  content: ' & ';
}
body.meals .meal .dish {
  font-size: 20px;
  color: #FFF;
  z-index: 3;
  position: absolute;
  font-weight: 700;
  top: 32px;
  left: 5px;
}

@media (min-width: 768px) {
  /* SM */
  .visible-xs-inline-block, .visible-xs-block { display: none; }
  .hidden-xs { display: block; }

}
@media (min-width: 992px) {
  /* MD */

}
@media (min-width: 1200px) {
  /* LG */

}