@font-face {
  font-family: "Courier Prime";
  src: url("/fonts/Courier Prime Sans.ttf") format("truetype");
}

/* GENERAL */
* {
  box-sizing: border-box;
  font-weight: 100;
}
.visible-xs-block { display: block; }
.visible-xs-inline-block { display: inline-block; }
.hidden-xs { display: none; }
#responsive-detect-xs {
  display: block;
  font-size: 0;
}
#responsive-detect-sm, #responsive-detect-md, #responsive-detect-lg {
  display: none;
  font-size: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.btn {
  display: inline-block;
  padding: 6px 5px;
  color: #FFF;
  text-align: center;
  border-radius: 0;
  margin-bottom: 5px;
  background-color: rgba(44, 159, 242, 1);
  &:hover {
    box-shadow: inset 0 0 1px 1px white;
  }
}
.tint {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}
.icon {
  display: inline-block;
  margin: 0 auto;
  width: 2em;
  height: 2em;
}
.icon svg {
  fill: currentColor;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 1;
}
.container {
  padding: 10px;
}
input.form-control[type=text], input.form-control[type=number], input.form-control[type=url], input.form-control[type=date] {
  border: 1px solid #555;
  box-shadow: none;
  width: 100%;
  height: 36px;
  margin: 5px 0;
  border-radius: 0;
  padding: 4px 6px;
  color: black;
}
.uploadcare-widget {
  margin: 5px 0;
}
button[type=submit] {
  margin-top: 5px;
  width: 100%;
  border-radius: 0;
  padding: 8px 12px;
  border: none;
  background-color: #F53F16;
  color: #FFF;
}
.alert {
  font-weight: bold;
  color: #fa4917;
}

body {
  background-color: #303030;
  color: #FFF;
  padding-top: 56px;
  font-family: "Courier Prime", monospace;
}
body > header {
  z-index: 4;
  background-color: #ffc107;
  color: #FFF;
  position: fixed;
  width: 100%;
  top: 0;
  min-height: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.12), 0px 4px 4px 0px rgba(0,0,0,0.24);
  h1 {
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translate(-50%, 0);
    margin: 0;
  }
  .logo {
    display: inline-block;
    width: auto;
    height: 100%;
    .icon {
      margin-left:2px;
      height: 2em;
    }
  }
  .menu-toggle {
    float: right;
    display: inline-block;
    margin-right:-25px;
    .icon {
      width: 2.5em;
      height: 2em;
    }
  }
 nav {
    max-height: 0;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    transform: translate3d(0,0,0);
    transition: max-height 0.25s,
                margin-top 0.25s,
                padding 0.25s;
    > a {
      display: block;
      color: white;
      padding: 10px 0;
      margin: 5px 0;
      text-decoration: none;
      font-size: 24px;
      position: relative;
      font-weight: 700;
      span {
        font-weight: 700;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &.active {
    box-shadow: 0 0px 20px 0px rgba(100,100,100,0.5);
   nav {
      padding: 5px 0 0;
      border-top: 1px solid white;
      margin-top: 10px;
      max-height: 240px;
    }
  }
}

@media (min-width: 768px) {
  /* SM */
  .visible-xs-inline-block, .visible-xs-block { display: none; }
  .hidden-xs { display: block; }
  #responsive-detect-xs { display: none; }
  #responsive-detect-sm { display: block; }

  body { padding-top: 61px; }
  input.placeholder-visible-xs::placeholder {
    color: transparent;
  }
  .form-group {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #header {
    height: 56px;
    h1 {
      position: static;
      display: inline-block;
      vertical-align: top;
      transform: translate(0, 0);
      margin: 4px 0 0 5px;
    }
    .menu-toggle {
      display: none;
    }
   nav {
      height: 100%;
      display: inline-block;
      padding: 0;
      margin: 0;
      float: right;
      max-height: none;
      border-top: none;
      > a {
        display: inline-block;
        vertical-align: middle;
        height: auto;
        color: #FFF;
        background-color: transparent;
        padding: 0;
        text-decoration: none;
        font-size: 18px;
        margin: 10px;
        &:last-of-type {
          margin: 10px;
        }
      }
      > a.home { display: none; }
    }
    &.active {
      box-shadow: none;
     nav { max-height: auto; }
    }
  }
}
@media (min-width: 992px) {
  /* MD */
  #responsive-detect-sm { display: none; }
  #responsive-detect-md { display: block; }

  body {
    padding-top: 0;
  }
  .container {
    margin: 0 auto;
    width: 988px;
    padding: 10px 0;
  }
  #header {
    position: relative;
  }
  .form-group {
    text-align: right;
    label {
      text-align: left;
      line-height: 30px;
      margin: 5px 0;
      width: 20%;
      display: inline-block;
      float: left;
    }
    input.form-control[type=text], input.form-control[type=number], input.form-control[type=url], input.form-control[type=date] {
      height: 30px;
      margin: 5px 0;
      display: inline-block;
      width: 80%;
    }
    .uploadcare-widget {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: calc(~"80% - 165px");
      .uploadcare-widget-button {
        width: 160px;
        text-align: center;
      }
    }
  }
  .form-group.submit {
    text-align: right;
  }
  button[type=submit] {
    width: auto;
    padding: 6px 18px;
  }
}
@media (min-width: 1200px) {
  /* LG */
  #responsive-detect-md { display: none; }
  #responsive-detect-lg { display: block; }
}
