/* GENERAL */
* {
  box-sizing: border-box;
  font-weight: 100;
}
.visible-xs-block { display: block; }
.visible-xs-inline-block { display: inline-block; }
.hidden-xs { display: none; }
a {
  text-decoration: none;
  color: inherit;
}
.tint {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}
.icon {
  display: inline-block;
  margin: 0 auto;
  width: 2em;
  height: 2em;
}
.icon svg {
  fill: currentColor;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 1;
}
.container {
  padding: 10px;
}
input.form-control[type=text], input.form-control[type=number], input.form-control[type=url], input.form-control[type=date] {
  border: 1px solid #555;
  box-shadow: none;
  width: 100%;
  height: 36px;
  margin: 5px 0;
  padding: 4px 6px;
}
button[type=submit] {
  margin-top: 5px;
  width: 100%;
  border-radius: 3px;
  padding: 8px 12px;
  border: none;
  background-color: #F53F16;
  color: #FFF;
}

body {
  background-color: #FFF;
  color: #000;
  padding-top: 56px;
}
body > header {
  z-index: 4;
  background-color: #2F9FF1;
  color: #FFF;
  position: fixed;
  width: 100%;
  top: 0;
  min-height: 30px;
  .logo {
    display: inline-block;
    width: auto;
    height: 100%;
    .icon {
      width: 5em;
      height: 2em;
    }
  }
  .menu-toggle {
    float: right;
    display: inline-block;
    .icon {
      width: 2.5em;
      height: 2em;
    }
  }
  > nav {
    max-height: 0;
    overflow: hidden;
    transform: translateZ(0);
    transition: max-height 0.25s;
    > a {
      display: block;
      height: 30px;
      color: #FFF;
      text-decoration: none;
      font-weight: 300;
      font-size: 24px;
      margin: 10px 0;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &.active {
    box-shadow: 0 0px 20px 0px rgba(100,100,100,0.5);
    > nav { max-height: 160px; }
  }
}

body.home .card {
  width: calc(~"100% + 20px");
  margin-left: -10px;
  margin-right: -10px;
  height: 320px;
  height: calc(~"100vw");
}
.card {
  color: #FFF;
  overflow: hidden;
  position: relative;
  height: 300px;
  height: calc(~"100vw - 20px");
  margin-bottom: 5px;
  > .label-top {
    position: absolute;
    top: 0;
    margin: 0;
    height: 28px;
    padding: 5px 10px;
    width: 100%;
    background-color: rgba(47, 159, 241, 0.9);
    .score {
      float: right;
    }
  }
  .stats {
    transform: translateZ(0);
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: calc(~"100% - 39px");
    bottom: 0;
    font-size: 18px;
    transition: top 0.15s;
    padding: 10px;
    width: 100%;
    background-color: rgba(47, 159, 241, 0.9);
    span {
      display: block;
      margin-bottom: 5px;
    }
    .card-buttons {
      position: absolute;
      left: -100%;
      width: calc(~"100% - 20px");
      transition: left 0.15s;
      bottom: 5px;
      a {
        display: block;
        padding: 10px 5px;
        text-align: center;
        border-radius: 3px;
        margin-bottom: 5px;
        background-color: #F94816;
      }
    }
  }
  &:hover, &:focus {
    .stats {
      border-top: 1px solid white;
      top: 28px;
      .card-buttons {
        left: 10px;
      }
    }
  }
  img, .photoFrame { width: 100%; }
}
/* ADD MEAL */
body.addmeal, body.editmeal {
  .card {
    display: inline-block;
    width: calc(~"50% - 5px");
    height: 150px;
    height: calc(~"50vw - 20px");
    > .label-top {
      overflow: hidden;
      font-size: 14px;
      height: 26px;
      transform: translateZ(0);
      transition: all 0.2s;
    }
  }
  .card:nth-child(odd) {
    margin-right: 5px;
  }
  .card.eating > .label-top {
    height: 100%;
    background-color: rgba(47, 159, 241, 0.9);
    &:before {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      content: '\1F374';
      color: white;
      font-size: 64px;
      text-align: center;
    }
  }
  .card.chef > .label-top:before { content: '\1F373'; }
}
/* MEALS */
body.meals .meal {
  text-align: right;
  overflow: hidden;
  position: relative;
  margin-bottom: 5px;
  padding: 0 1px;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.25s;
  .photoFrame {
    display: inline-block;
    width: 20%;
    margin: 0 -2px;
    img {
      width: 100%;
      vertical-align: middle;
    }
  }
  .tint {
    z-index: 2;
    background-color: rgba(47, 159, 241, 0.8);
    transition: background-color 0.25s;
  }
  &:hover, &:focus {
    background-color: rgba(47, 159, 241, 0.5);
    .tint {
      background-color: rgba(47, 159, 241, 0);
    }
    .centred-content {
      opacity: 0;
    }
    .btn-edit-meal {
      left: 5px;
    }
  }
  .centred-content {
    opacity: 1;
    position: absolute;
    text-align: center;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.25s;
    font-size: 20px;
    color: #FFF;
    .names {
      span:not(:last-child):before { content: ' & '; }
    }
    .dish {
      font-weight: bold;
    }
  }
  .btn-edit-meal {
    position: absolute;
    bottom: 5px;
    left: -100%;
    color: white;
    background-color: #F94816;
    border-radius: 3px;
    padding: 6px 12px;
    z-index: 4;
    transition: left 0.5s;
  }
} 

/* EDIT PERSON */
body.editperson .editimg img {
  width: 100%;
}

@media (min-width: 768px) {
  /* SM */
  .visible-xs-inline-block, .visible-xs-block { display: none; }
  .hidden-xs { display: block; }

}
@media (min-width: 992px) {
  /* MD */

}
@media (min-width: 1200px) {
  /* LG */

}